.single_blog_container {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Sen", sans-serif;
}

.single_blog_mainblog {
    width: 55%;
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    padding-top: 40px;
    padding-right: 100px;
    font-family: "Sen", sans-serif;
    padding-left: 10%;
    /* margin-left: 250px; */
}

.sidebar {
    width: 250px;
    height: fit-content;
    margin-right: 60px;
    background-color: blue;
}

.postsarchive a {
    text-decoration: none;
}

.singledateandtime ul {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    margin-left: -30px;
}

.singledateandtime ul li {
    margin: 5px 8px;
    font-size: 14px;
    padding-right: 5px;
}

.singledateandtime ul li:nth-child(1) {
    list-style: none;
}

.aboveimage {
    padding-bottom: 15px;
}

.blogimage {
    display: flex;
    width: 100%;
    justify-content: center;
}

.blogimage img {
    width: 100%;
}

.blogtitle h3 {
    font-size: 35px;
}

.shortdesc {
    font-size: 16px;
    font-weight: 800px;
}

.blogcontent {
    margin-top: 15px;
    font-size: 16px;
    text-align: justify;
    line-height: 24px;
}

.blogcontent h6 {
    font-size: 24px;
    margin: 35px 0px;
}

.contentbox p {
    padding: 10px 20px 10px 18px;
    box-sizing: border-box;
    text-align: justify;
    border-left: 5px solid red;
}

.blogtags {
    padding-top: 50px;
}

.postsuggestion a:hover {
    color: red;
}

.blogtags button {
    padding: 3px 14px;
    background-color: black;
    color: white;
    border: none;
}

.blogtags button:hover {
    cursor: pointer;
    border: 1px solid;
    color: white;
}

.socialmedialinks {
    text-decoration: none;
    padding: 10px;
}

.socialmedialinks .twitter {
    padding: 0px 30px;
}

a {
    text-decoration: none;
}

.blogending {
    opacity: 50%;
    margin-top: 30px;
}

.socialmedialinks li {
    text-decoration: none;
}

.reacentpost_seeall {
    display: flex;
    justify-content: space-between;
}

.see_all,
.reacent_posts {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.postsuggestion {
    padding-top: 50px;
}

.cards {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    padding-top: 15px;
}

.card1 {
    width: 100%;
}

.card2 {
    width: 100%;
}

.cards img {
    width: 100%;
    height: 180px;
    object-fit: none;
}

.card_title {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    padding: 24px;
}

.sidebar {
    background-color: #161515;
    color: aliceblue;
    margin-top: 65px;
}

.aboutme {
    padding: 27px 30px 10px;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
}

.photo img {
    width: 200px;
    height: 240px;
    margin-left: 25px;
    object-fit: contain;
    margin-top: 20px;
}

.shortdescs {
    display: flex;
    line-height: 24px;
    font-size: 16px;
    justify-content: center;
    padding: 12px;
}

.readmorebutton {
    display: flex;
    justify-content: center;
    margin-top: 6px;
    padding: 24px 26px;
    font-size: 29px;
}

.readmorebutton button {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 20x;
    background-color: #161515;
    color: aliceblue;
    box-sizing: border-box;
    border: 1px solid white;
}

.readmorebutton button:hover {
    background-color: red;
    transition: var(--trans2, color 0.4s ease 0s);
    border: none;
}

.pa {
    display: flex;
    /* justify-content: center; */
    font-size: 30px;
    padding: 0px 25px;
    /* margin-top: 0; */
    margin: 0;
    padding-top: 35px;
}

hr {
    width: 100%;
}

.postsarchive button {
    cursor: pointer;
    padding: 10px 25px;
    font-size: 25x;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    border: 1px solid white;
}

.postsarchive button:hover {
    background-color: red;
    transition: var(--trans2, color 0.4s ease 0s);
    border: none;
}

.postsarchive button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-right: 40px;
    padding: 14px 12px;
    font-size: 15px;
    margin-left: 27px;
}

.sidebar hr {
    width: 80%;
}

.tagsbutton {
    display: flex;
    padding-bottom: 68px;
    padding-top: 30px;
}

.tags {
    font-size: 30px;
    font-weight: bold;
    padding-left: 10px;
    margin-left: 15px;
    padding-top: 40px;
}

.tagsbutton button {
    padding: 6px 8px;
    margin-left: 30px;
    color: black;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
}

.tagsbutton button:hover {
    padding: 6px 8px;
    margin-left: 30px;
    color: black;
    font-size: 16px;
    background-color: rgb(255, 0, 0);
}

@media (width<=1450px) {
    .single_blog_container {
        background-color: black;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .single_blog_mainblog {
        width: 65%;
        color: aliceblue;
        background-color: rgb(0, 0, 0);
        padding-top: 40px;
        padding-right: 100px;
        font-family: "Times New Roman", Times, serif;
        padding-left: 10%;
        /* margin-left: 250px; */
    }
    .sidebar {
        width: 18%;
        height: fit-content;
        margin-right: 60px;
        background-color: #161515;
    }
    .photo {
        width: 100%;
    }
    .photo img {
        width: 80%;
        margin-left: 20px;
        margin-top: 20px;
    }
}

@media (width<=1024px) {
    .single_blog_container {
        background-color: black;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .single_blog_mainblog {
        width: 100%;
        color: aliceblue;
        background-color: rgb(0, 0, 0);
        padding-top: 40px;
        padding-right: 20px;
        padding-left: 20px;
        /* margin-left: 250px; */
    }
    .shortdesc {
        font-size: 18px;
        text-align: justify;
        padding: 12px 0px;
    }
    .shortdesc p {
        width: 100%;
        margin-right: 23px;
        padding: 9px 19px;
    }
    .sidebar {
        display: flex;
        width: 96%;
        margin-left: 20px;
        height: -moz-fit-content;
        height: fit-content;
        /* margin-right: 60px; */
        background-color: #161515;
        flex-direction: column;
        align-items: baseline;
        justify-content: space-evenly;
        align-content: stretch;
    }
    .readmorebutton {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 6px;
        padding: 16px 112px;
        font-size: 29px;
    }
    .sidebar hr {
        width: 93%;
    }
    .photo {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 100%;
        padding-right: 55px;
    }
    .photo img {
        width: 60%;
        height: max-content;
        margin-left: 20px;
        margin-top: 20px;
        object-fit: contain;
    }
    .pa {
        display: flex;
        justify-content: center;
        font-size: 30px;
        padding: 0px 12px;
        /* margin-top: 0; */
        margin: 0;
        padding-top: 35px;
    }
    .pa a {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-left: 20px;
    }
    .postsarchive button {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-right: 40px;
        padding: 14px 12px;
        font-size: 15px;
        margin-left: 15px;
    }
}

@media (width<=768px) {
    .single_blog_container {
        background-color: black;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .single_blog_mainblog {
        width: 100%;
        color: aliceblue;
        background-color: rgb(0, 0, 0);
        padding-top: 40px;
        padding-right: 20px;
        padding-left: 20px;
        /* margin-left: 250px; */
    }
    .shortdesc {
        font-size: 18px;
        padding: 12px 0px;
    }
    .shortdesc p {
        width: 100%;
        margin-right: 23px;
        padding: 9px 19px;
    }
    .sidebar {
        display: flex;
        width: 96%;
        margin-left: 20px;
        height: -moz-fit-content;
        height: fit-content;
        /* margin-right: 60px; */
        background-color: #161515;
        flex-direction: column;
        align-items: baseline;
        justify-content: space-evenly;
        align-content: stretch;
    }
    .readmorebutton {
        display: flex;
        /* justify-content: center; */
        margin-top: 6px;
        padding: 16px 112px;
        font-size: 29px;
    }
    .sidebar hr {
        width: 93%;
    }
    .photo {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 100%;
        padding-right: 55px;
    }
    .photo img {
        width: 60%;
        height: max-content;
        margin-left: 20px;
        object-fit: contain;
        margin-top: 20px;
    }
    .pa {
        display: flex;
        justify-content: center;
        font-size: 30px;
        padding: 0px 12px;
        /* margin-top: 0; */
        margin: 0;
        padding-top: 35px;
    }
    .pa a {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-left: 20px;
    }
    .postsarchive button {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-right: 40px;
        padding: 14px 12px;
        font-size: 15px;
        margin-left: 15px;
    }
}

@media (width<=768px) {
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        column-gap: 30px;
        padding-top: 15px;
    }
    a {
        text-decoration: none;
    }
    .cards img {
        width: 100%;
        height: 250px;
        object-fit: none;
    }
}