.navbar {
    max-width: 100%;
    padding: 50px 40px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    max-width: 100%;
    background: rgb(0, 0, 0);
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.search-container {
    position: relative;
}

.suggestions {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: calc(71% + 10px);
    left: 37.5%;
    border: 1px solid white;
    color: white;
    background-color: rgb(0, 0, 0);
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    width: 17%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    z-index: 10;
}

.suggestion {
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 10px;
    cursor: pointer;
}

.suggestion img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    object-fit: cover;
}

.suggestion-title {
    font-size: 16px;
    line-height: 22px;
    text-align: left;
}

@media (width <=1450px) {
    .navbar {
        max-width: 100%;
        padding: 50px 40px;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }
    nav {
        display: flex;
        max-width: 100%;
        background: rgb(0, 0, 0);
        position: relative;
        justify-content: space-between;
        align-items: center;
    }
    .suggestions {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: calc(78% + 10px);
        left: 36%;
        border: 1px solid white;
        color: white;
        background-color: rgb(0, 0, 0);
        /* border: 1px solid #ccc; */
        border-radius: 5px;
        width: 19%;
        box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
        z-index: 10;
    }
}

@media (max-width: 1024px) {
    .suggestions {
        background-color: #000;
        border: 1px solid #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: 30.5%;
        position: absolute;
        top: calc(75% + 10px);
        width: 27%;
        z-index: 10;
    }
}

.searchcontainer2 {
    display: none;
}

nav ol {
    display: flex;
    list-style: none;
    margin: auto;
    margin-right: 10px;
}

nav ol li {
    display: flex;
    margin: 0px 2px;
    justify-content: flex-end;
}

.navlink ol li a {
    font-size: 17px;
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    padding: 5px 10px;
}

nav ol li a:hover {
    color: red;
}

.active {
    color: red;
}

.searchbox {
    display: flex;
    background: black;
    margin: auto 0;
    height: 45px;
    line-height: 35px;
    padding: 0px 10px;
}

.searchbox input {
    border: none;
    outline: none;
    background: black;
    color: white;
    height: 100%;
    padding: 0 10px;
    font-size: 17px;
    width: 200px;
}

.searchbox:hover {
    border: 1px solid white;
    color: white;
    font-weight: bold;
}

nav .searchbox button {
    color: white;
    border: none;
    background: black;
    padding: 0px 0px;
    cursor: pointer;
}

NavLink:active {
    color: red;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar,
.cross {
    font-size: 25px;
    color: white;
}


/*   /////////////Navbar Tablet Responsive/////////////   */

@media (width<=850px) {
    .hamburger {
        display: block;
        margin: 16px 0px;
    }
    .navlink {
        display: flex;
        color: black;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 30px;
        place-items: center;
        position: fixed;
        z-index: 999;
        top: 120px;
        right: -400px;
        width: 400px;
        height: 100%;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0);
        background-color: #000000;
        padding: 40px 0 0 10px;
        transition: 0.4s ease-in-out;
        -webkit-transition: 0.4s ease-in-out;
    }
    .searchcontainer {
        display: none;
    }
    .searchcontainer2 {
        display: flex;
        width: 100%;
        padding: 0px 50px;
    }
    .searchbox {
        width: 100%;
    }
    .searchbox input {
        border: none;
        outline: none;
        background: black;
        color: white;
        height: 100%;
        padding: 0 10px;
        font-size: 17px;
        width: 100%;
    }
    .nav-active {
        right: 0px;
    }
    .active {
        padding-bottom: 20px;
    }
    .website-logo {
        width: 35%;
    }
    nav ol {
        display: flex;
        list-style: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: auto;
        margin-right: 10px;
    }
    .navlink ol li a {
        font-size: 17px;
        color: rgb(230, 230, 230);
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        padding: 21px 135px;
    }
    searchbox:hover {
        border: 1px solid white;
        color: white;
        font-weight: bold;
    }
    .searchcontainer2 .searchbox button {
        color: white;
        border: none;
        cursor: pointer;
        background: black;
        padding: 0px 0px;
    }
    .suggestions {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: calc(30% + 10px);
        left: 6.5%;
        border: 1px solid white;
        color: white;
        background-color: rgb(0, 0, 0);
        border-radius: 5px;
        width: 87%;
        box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
        z-index: 10;
    }
}

@media (width<=415px) {
    .suggestions {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: calc(30% + 10px);
        left: 6.5%;
        border: 1px solid white;
        color: white;
        background-color: rgb(0, 0, 0);
        border-radius: 5px;
        width: 87%;
        box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
        z-index: 10;
    }
}


/*
@media (width<=393px) {
    .suggestions {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: calc(30% + 10px);
        left: 6.5%;
        border: 1px solid white;
        color: white;
        background-color: rgb(0, 0, 0);
        border-radius: 5px;
        width: 87%;
        box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
        z-index: 10;
    }
}

@media (width<=350px) {
    .suggestions {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: calc(30% + 10px);
        left: 6.5%;
        border: 1px solid white;
        color: white;
        background-color: rgb(0, 0, 0);
        border-radius: 5px;
        width: 87%;
        box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
        z-index: 10;
    }
}
*/